* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info-section--list {
    display: flex;
    list-style: none;
    gap: 14px;
}

.info-section--list--item a {
    color: black;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 300px;
}

.dropdown-select {
    width: 50%;
    background-color: #fff;
    cursor: pointer;
    text-align: left;
    border: none;
    margin: auto;
    margin-top: 3px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.down-arrow {
    width: 14px;
    top: 7px;
    position: absolute;
    right: 27%;
}

.flag {
    width: 24px;
    height: 16px;
    margin-right: 8px;
}

.social-and-coin {
    display: flex;
    justify-content: space-evenly;
}
.social {
    cursor: pointer;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px solid #8080802b;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.main-header--elements-left--list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.main-header--elements-right--list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.main-header--elements-left--list--items--shop {
    margin: 5px;
    cursor: pointer;
}

.main-header--elements-left--list--items--season {
    margin: 5px;
    cursor: pointer;
}

.main-header--elements-right--list--items-journal {
    margin: 5px;
    cursor: pointer;
}

.main-header--elements-right--list--items-theme {
    margin: 5px;
    cursor: pointer;
}

.login-cart {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
}

.theme-logo {
    margin: auto;
    position: relative;
    cursor: pointer;
}

.search-button {
    position: absolute;
    cursor: pointer;
}

.main-header--elements-left {
    position: absolute;
    left: 20%;
}

.main-header--elements-right {
    position: absolute;
    right: 15%;
}

.main-header .menu-toggle {
    display: none;
    cursor: pointer;
}

@media (max-width:999px) {

    .main-header--elements-left--list,
    .main-header--elements-right--list {
        flex-direction: column;
        gap: 3px;
    }

}

@media (max-width:680px) {

    .main-header--elements-left--list,
    .main-header--elements-right--list {
        display: none;
    }

    .header {
        display: none;
    }

    .search-button {
        right: 9%;
    }

    .main-header .menu-toggle {
        display: block;
    }

    .login-cart svg:first-child {
        display: none;
        margin-right: 10px;
    }
}

.cross-img {
    float: right;
    width: 27px;
}

.shop-menu,
.season-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    border-bottom: 1px solid #8080803d;
    padding-bottom: 10px;
}

.shop-menu-item,
.season-menu-item li {
    list-style: none;
}

.menu-others {
    display: flex;
    gap: 50%;
    margin-top: 26px;
    margin-bottom: 26px;
    padding-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #8080803d;


}

.menu-others-items {
    display: flex;
    flex-direction: column;
}

.social-menu {
    display: flex;
    justify-content: space-between;
}

.menu-drawer {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: white;
    color: black;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
    padding-right: 20px;
}

.menu-drawer.open {
    left: 0;
}

.menu-item {
    margin-left: 30px;
}

.shop-menu-item ul {
    list-style: none;
}

.shop-menu-item {
    display: none;
}

.season-menu-item {
    display: none;
}

.jounal-menu {
    margin-top: 33px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #8080803d;
}

.theme-menu {
    padding-bottom: 10px;
    border-bottom: 1px solid #8080803d;
}

.shop-container {
    display: none;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}

.shop-container--items img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.season-container {
    display: none;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}

.season-container-items img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.main-header--elements-left--list--items--shop::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    /* Adjust the height of the underline */
    background-color: black;
    /* Adjust the color of the underline */
    transition: width 0.4s ease-out;
}

.main-header--elements-left--list--items--shop:hover::after {
    width: 35%;
}

.main-header--elements-left--list--items--season::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    /* Adjust the height of the underline */
    background-color: black;
    /* Adjust the color of the underline */
    transition: width 0.4s ease-out;
}

.main-header--elements-left--list--items--season:hover::after {
    width: 55%;
}

.main-header--elements-right--list--items-journal::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    /* Adjust the height of the underline */
    background-color: black;
    /* Adjust the color of the underline */
    transition: width 0.4s ease-out;
}

.main-header--elements-right--list--items-journal:hover:after {
    width: 35%;
}

.main-header--elements-right--list--items-theme::after {
    content: "";
    position: absolute;
    left: 45%;
    bottom: 0;
    width: 0;
    height: 2px;
    /* Adjust the height of the underline */
    background-color: black;
    /* Adjust the color of the underline */
    transition: width 0.4s ease-out;
}

.main-header--elements-right--list--items-theme:hover:after {
    width: 53%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.text-slider {
    text-align: center;
    font-size: 18px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.text {
    padding: 10px;
}

.image-slider {
    overflow: hidden;
}

.image-container1 {
    position: relative;
}

.image-container1 img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.image-container-description1 {
    position: absolute;
    bottom: 40%;
    left: 70%;
    text-align: end;
    padding-right: 30px;
    color: white;
    font-size: 20px;
}

.image-container-description1 h1 {
    margin-bottom: 15px;
}

.image-container-description1 button {
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
}

.image-container2 {
    position: relative;
}

.image-container2 img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.image-container-description2 {
    position: absolute;
    bottom: 40%;
    left: 40%;
    text-align: center;
    color: white;
    font-size: 20px;
}

.image-container-description2 h1 {
    margin-bottom: 15px;
}

.image-container-description2 button {
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
}

.image-container3 {
    position: relative;
}

.image-container3 img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.image-container-description3 {
    position: absolute;
    bottom: 35%;
    left: 40%;
    text-align: center;
    color: white;
    font-size: 20px;
}

.image-container-description3 h1 {
    margin-bottom: 15px;
}

.image-container-description3 h3 {
    margin-bottom: 15px;
}

.image-container-description3 button {
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
}

@media (max-width:680px) {

    .image-container-description1,
    .image-container-description2,
    .image-container-description3 {
        bottom: 35%;
        left: 40%;
    }
}

.timer {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #8080803d;
    width: 100%;
    flex-wrap: nowrap;
}

.timer--description {
    width: 50%;
}

.timer--container {
    display: flex;
    gap: 20px;
}

.time {
    border-right: 1px solid black;
    padding-right: 10px;
    width: 100%;
}

@media (max-width:680px) {
    .timer {
        flex-direction: column;
        padding: 5px;
        gap: 20px;
    }

    .time {
        width: 100%;
        padding-right: 10px;
    }
}

.category {
    width: 100%;
}

.category--image {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}

.image1,
.image2,
.image3,
.image4 {
    position: relative;
    overflow: hidden;
}

.image1 span {
    position: absolute;
    top: 50%;
    left: 40%;
    background-color: white;
    padding: 5px;
}

.image2 span {
    position: absolute;
    top: 50%;
    left: 35%;
    background-color: white;
    padding: 5px;
}

.image3 span {
    position: absolute;
    top: 50%;
    left: 25%;
    background-color: white;
    padding: 5px;
}

.image4 span {
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: white;
    padding: 5px;
}

.category h1 {
    text-align: center;
    margin: 40px;
}

.category--image {
    overflow: hidden;
    position: relative;
}

.category--image img {
    opacity: 1;
    display: block;
    width: 300px;
    transition: transform .5s ease-in-out;
    object-fit: cover;
}

@media (max-width:680px) {
    .category--image img {
        width: 200px;
    }
}

.category--image img:hover {
    transform: scale(1.05);
}

.beach--gift {
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0;
}

.beach {
    width: 47%;
    position: relative;
}

.beach img {
    width: 100%;
    height: 100%;
}

.beach-description {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    color: white;
}

.beach-description h1 {
    margin: 15px;
}

.beach-description button {
    display: inline;
    padding: 15px;
    background-color: #585065;
    color: white;
    border: none;
}

.gift {
    width: 47%;
    position: relative;
}

.gift img {
    width: 100%;
    height: 100%;
}

.gift-description {
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 25%;
    color: white;
}

.gift-description button {
    padding: 15px;
    background-color: white;
    color: black;
    border: none;
    margin-top: 20px;
}

.gift-description h1 {
    margin-bottom: 20px;
}

@media (max-width:680px) {
    .beach--gift {
        flex-direction: column;
    }

    .beach {
        width: 100%;
    }

    .gift {
        width: 100%;
    }
}

.quote {
    text-align: center;
    margin-bottom: 80px;
    font-size: 20px;
}

.quote span {
    display: block;
}

.banner {
    position: relative;
    margin: 0 50px;
}

.banner img {
    width: 100%;

}

.banner-description {
    text-align: end;
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: #fff;
}

.banner-description button {
    padding: 15px;
    background-color: #585065;
    color: white;
    border: none;
    margin-top: 20px;
}

.banner-description h1 {
    margin: 10px 0;
}

.offer-with-image {
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom: 80px;
}

.offer-with-image1 {
    width: 45%;
    display: flex;
    outline: 2px solid black;
    outline-offset: -10px;
}

.offer-with-image1 .offer-description {
    text-align: center;
    margin: auto;
}

.offer-with-image1 img {
    width: 200px;
}

.offer-with-image2 {
    position: relative;
    width: 45%;
    display: flex;
    outline: 2px solid black;
    outline-offset: -10px;
}

.offer-with-image2 {
    display: flex;
    background-color: rgba(102, 171, 215, 0.06);
}

.offer-with-image2 .offer-description {
    text-align: center;
    margin: auto;
}

.offer-with-image2 img {
    width: 200px;
}

@media (max-width:680px) {
    .offer-with-image {
        flex-direction: column;
        gap: 20px;
        margin-left: 30px;
        margin-right: 30px;
        /* width: 100%; */
    }

    .offer-with-image1,
    .offer-with-image2 {
        width: 90%;
    }
}

.popular-picks-heading {
    text-align: center;
}

.popular-picks-heading button {
    margin-top: 16px;
    padding: 7px 20px;
    border: 1px solid #8080803d;
    background-color: white;
    transition: border 0.3s ease;
}

.popular-picks-images {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    margin-top: 40px;
}

@media (max-width:680px) {
    .popular-picks-images {
        overflow: scroll;
    }
}

.popular-picks-image1 img {
    width: 300px;
}

.popular-picks-image2 img {
    width: 300px;
}

.popular-picks-image3 img {
    width: 300px;
}

.popular-picks-image4 img {
    width: 300px;
}

.popular-picks-image1 {
    position: relative;
}

.popular-picks-image2 {
    position: relative;
}

.popular-picks-image3 {
    position: relative;
}

.popular-picks-image4 {
    position: relative;
}

.popular-picks-image2 .popup {
    position: absolute;
    top: 0;
    left: 70%;
    padding: 7px;
    background-color: black;
    color: white;
}

.popular-picks-image3 .popup {
    position: absolute;
    top: 0;
    left: 86%;
    padding: 7px;
    background-color: red;
    color: white;
}

.popular-picks-image4 .popup {
    position: absolute;
    top: 0;
    left: 76%;
    padding: 7px;
    background-color: white;
    color: black;
}

.decoration {
    text-decoration: line-through;
}

.clr {
    color: red;
}

.image-quote {
    width: 100%;
    position: relative;
    margin-top: 80px;
}

.image-quote img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.quotation {
    position: absolute;
    background-color: white;
    text-align: left;
    padding: 30px;
    top: 5%;
    left: 5%;
    width: 30%;
}

.quotation h1 {
    margin: 10px 0;
}

.quotation button {
    background-color: black;
    color: white;
    padding: 9px 17px;
    margin: 20px 0;
    border: none;
}
@media (max-width:680px) {
    .quotation {
        top: auto;
        bottom: 5%;
        left: 5%;
        width: 80%;
        text-align: center;
        margin-left: 37px;
    }

}

.shop-look {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
}

.only-img {
    width: 70%;
}

.only-img img {
    width: 100%;
}

.image-title {
    position: sticky;
    top: 30px;
    align-self: flex-start;
    background: white;
    padding: 40px;
    z-index: 10;
    text-align: center;
}

.image-title img {
    width: 100%;
}

@media (max-width:680px) {
    .shop-look {
        flex-direction: column;
        gap: 0;
    }

    .only-img {
        width: 100%;
    }

    .image-title img {
        width: 30%;
    }

    .image-title {
        width: 100%;
        padding: 30px 0;
        text-align: left;
    }
}

.from-the-journal {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.from-the-journal-heading button {
    margin-top: 16px;
    margin-bottom: 40px;
    padding: 7px 20px;
    border: 1px solid #8080803d;
    background-color: white;
    transition: border 0.3s ease;
}
.from-the-journal-heading button:hover {
    border: 1px solid black;
}

.popular-picks-heading button:hover {
    border: 1px solid black;
}

.from-the-journal-images {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.from-the-journal-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}

@media (max-width:680px) {
    .from-the-journal-images {
        flex-direction: column;
        margin: 0 20px;
        gap: 10px;
    }

    .from-the-journal-image img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-bottom: 0;
    }

    .from-the-journal-image {
        display: flex;
        gap: 10px;
        text-align: left;
    }
}

.map {
    position: relative;
    width: 100vw;
    margin-bottom: 80px;
}

.map img {
    width: 100%;
    object-fit: cover;
    height: 500px;
}

.map-content {
    position: absolute;
    top: 20%;
    left: 5%;
    background-color: white;
    text-align: left;
    padding: 20px;
    width: 30%;
}

.time-map {
    margin-top: 20px;
    margin-bottom: 20px;
}

.map-content button {
    background-color: black;
    color: white;
    padding: 7px 15px;
    border: none;
}

@media (max-width:680px) {
    .map-content {
        width: 80%;
    }

    .map img {
        height: 100vh;
    }
}

.footer {
    display: flex;
    justify-content: left;
    gap: 15%;
    margin: 60px 60px;
    line-height: 1.8;
}

.mail {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin: 30px 0;
}

.footer-logo {
    display: flex;
    gap: 5px;
}

.footer-dropdown {
    position: relative;
    display: inline-block;
    width: 300px;
}

.footer-dropdown-select {
    width: 50%;
    background-color: #fff;
    cursor: pointer;
    text-align: left;
    border: none;
    margin: auto;
    margin-top: 3px;
}

.footer-dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}

.footer-dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.footer-down-arrow {
    width: 14px;
    top: 7px;
    position: absolute;
    right: 27%;
}

.footer-coin {
    text-align: center;
    margin-bottom: 30px;
}

.payment-cards-image {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.payment-cards-image img {
    width: 40px;
}

.payment-cards {
    text-align: center;
    margin-bottom: 40px;
}

@media (max-width:680px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .dress-collection {
        padding: 15px 0;
        border-bottom: 1px solid #8080803d;
    }

    .footer-season {
        padding: 15px 0;
        border-bottom: 1px solid #8080803d;
    }

    .footer-contact {
        padding: 15px;
        border-bottom: 1px solid #8080803d;
    }
}
button {
    cursor: pointer;
}


@keyframes slideUp {
    0% {
        transform: translateY(100%); 
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.image-container-description1,
.image-container-description2,
.image-container-description3 {
    z-index: 10;
    animation: slideUp 1s ease-out forwards; 
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300');

:root {
  --btn-border: 1px solid rgba(255, 255, 255, 0.2);
  --btn-bg: transparent;
  --btn-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.5);
  --btn-text-color: #f4f4f4;
  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.4);
  --shine-effect: linear-gradient(var(--shine-degree), transparent, var(--shine-color), transparent);
  --shine-transition: all 0.65s ease-in-out;
}

.beach-description button {
  position: relative;
  overflow: hidden;
}

.beach-description button::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--shine-effect);
  left: -100%;
  transition: var(--shine-transition);
}

.beach-description button:hover::before {
  left: 100%;
}

.image-container-description1 button {
    position: relative;
    overflow: hidden;
  }
  
  .image-container-description1 button::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shine-effect);
    left: -100%;
    transition: var(--shine-transition);
  }
  
  .image-container-description1 button:hover::before {
    left: 100%;
  }

  .image-container-description3 button {
    position: relative;
    overflow: hidden;
  }
  
  .image-container-description3 button::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shine-effect);
    left: -100%;
    transition: var(--shine-transition);
  }
  
  .image-container-description3 button:hover::before {
    left: 100%;
  }

  .banner button {
    position: relative;
    overflow: hidden;
  }
  
  .banner button::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shine-effect);
    left: -100%;
    transition: var(--shine-transition);
  }
  
  .banner button:hover::before {
    left: 100%;
  }

  .image-quote button {
    position: relative;
    overflow: hidden;
  }
  
  .image-quote button::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shine-effect);
    left: -100%;
    transition: var(--shine-transition);
  }
  
  .image-quote button:hover::before {
    left: 100%;
  }

  .map button {
    position: relative;
    overflow: hidden;
  }
  
  .map button::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shine-effect);
    left: -100%;
    transition: var(--shine-transition);
  }
  
  .map button:hover::before {
    left: 100%;
  }
.mail input {
    border: none;
    outline: none;
}